.CCbody{
/*   --cg: conic-gradient(pink, blue, red, purple, green, pink); */
  --cg: conic-gradient(#000 3%, #022ad0 12%, #1398d8 16%, #fff 23%, #fff 26%, #b232db 34%, #022ad0 40%, #000 47%, #000 52%, #022ad0 59%, #1398d8 66%, #fff 73%, #fff 76%, #b232db 83%, #022ad0 89%, #000 98%);
  --h: max(300vw, 304vh);
  /* margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; */
}

.CCcont{
  position: absolute;
  top: -50px;
  left: 0;
  transform-origin: 50vw 50vh;
  transform: rotateZ(180deg);
  mix-blend-mode: exclusion;
}
.CCa{
  position: relative;
  /* top: min(calc(102% - 150vw), -50vh); */
  top: calc(var(--h) / -2 + 100vh);
  right: max(130vw, 130vh);
  width: var(--h);
  height: var(--h);
}
.CCa, .CCa div{
  background: var(--cg);
}
.CCa div{
  position: relative;
  top: calc(0% + (var(--h) * 0.05));
  left: calc(0% + (var(--h) * 0.05));
  width: calc(100% - (var(--h) * 0.1));
  height: calc(100% - (var(--h) * 0.1));
  border-radius: 50%;
  transform: rotate(-8deg);
}
.CCa .CCb{
  transform: rotate(var(--x));
  filter: hue-rotate(var(--y));
}