@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
.letterHolder{
  display: inline-block;
  transition: all 1s;
  position: relative;
}
.letterHolder:hover{
  transform: scale(1.5);
  transition: all 0.2s;
}
.bouncyLetter{
  font-family: 'Rubik Dirt';
  transition: all 1s;
  color: red;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
}
.spin{
  transition: all 1s;
}
.bouncyLetter:hover{
  color: rgba(0, 128, 0, 0.755);
  transition: all 0.2s;
}
.spin:hover{
  transform: rotate(1turn) scale(1.2);
  transition: 0s;
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
}