#windowContainer{
  width: 100%;
  height: 100%;
}
.itemsWindow, .armourWindow, .skillsWindow, .questsWindow, .ontop{
  position: absolute;
  background: rgb(93, 124, 163);
  top: calc(50% - 275px);
  width: 800px;
  height: 550px;
  border-radius: 50px;
}
.itemsWindow{
  background-color: rgb(169, 105, 105);
  box-shadow: inset 5px 5px 10px 0 rgb(255, 221, 221), inset -5px -5px 10px 0 rgb(48, 4, 4),
              inset 15px 15px 30px 10px rgb(223, 161, 161), inset -15px -15px 30px 10px rgb(90, 14, 14);
}
.armourWindow{
  background-color: rgb(106, 130, 194);
  box-shadow: inset 5px 5px 10px 0 rgb(213, 213, 236), inset -5px -5px 10px 0 rgb(18, 18, 60),
              inset 15px 15px 30px 10px rgb(182, 182, 225), inset -15px -15px 30px 10px rgb(59, 59, 107);
}
.skillsWindow{
  background-color: rgb(168, 199, 168);
  box-shadow: inset 5px 5px 10px 0 rgb(229, 236, 229), inset -5px -5px 10px 0 rgb(10, 42, 10),
              inset 15px 15px 30px 10px rgb(216, 232, 216), inset -15px -15px 30px 10px rgb(70, 95, 70);
}
.questsWindow{
  background-color: rgb(200, 166, 200);
  box-shadow: inset 5px 5px 10px 0 rgb(239, 232, 239), inset -5px -5px 10px 0 rgb(75, 48, 75),
              inset 15px 15px 30px 10px rgb(212, 204, 212), inset -15px -15px 30px 10px rgb(110, 81, 110);
}
.center{
  left: calc(50% - 400px);
  z-index: 100;
  opacity: 1;
}
.left{
  left: calc(50% - 850px);
  z-index: 50;
  opacity: 0.9;
  scale: 0.75;
}
.right{
  left: calc(50% + 50px);
  z-index: 50;
  opacity: 0.9;
  scale: 0.75;
}
.hidden{
  left: calc(50% - 400px);
  z-index: 0;
  opacity: 0;
  scale: 0.8;
}
.trans{
  transition: all 0.5s;
}
#closer{
  width: 100%;
  height: 100%;
}
.ontop{
  z-index: 90;
  background: none;
}
.miniCloser{
  position: absolute;
  width: 30px;
  height: 30px;
  color: white;
  line-height: 27px;
  font-weight: bolder;
  top: 30px;
  right: 30px;
  border-radius: 8px;
  background: rgb(213, 18, 18);
  box-shadow: inset 3px 3px 3px 0 rgb(227, 120, 120), inset -3px -3px 3px 0 rgb(72, 14, 14);
}
#itemSlots{
  position: absolute;
  width: 700px;
  height: 350px;
  left: 50px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  image-rendering: pixelated;
}
.skillSlot, .itemSlot, .armourSlot{
  width: 60px;
  height: 60px;
  margin: 2px;
  cursor: pointer;
}
.itemSlot.withImg, .armourSlot.withImg{
  background-image: url("../../images/items.png");
  background-size: 960px 1320px; /* Slot size is 60px, icon size is 48px, that's 1.25 scale.  Image size is 768*1056 */
}
.worldItem{
  background-image: url("../../images/items.png");
  background-size: 576px 792px; /* same logic as above but going down to 80% size */
  width: 36px;
  height: 35px;
  position: absolute;
}
.itemSlot{
  border-radius: 5px;
  box-shadow: inset 5px 5px 5px 0 rgba(139, 89, 89, 0.4), inset -5px -5px 5px rgba(247, 195, 195, 0.4);
}
.armourSlot{
  border-radius: 5px;
  box-shadow: inset 5px 5px 5px 0 rgba(80, 80, 130, 0.4), inset -5px -5px 5px rgb(183, 183, 205, 0.4);
}
.armourContainer{
  position: absolute;
  width: 80px;
  overflow: visible;
}
.armourContainer h4{
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: nowrap;
}
.armourContainer div{
  position: absolute;
  left: 10px;
}
#statContainer{
  background-color: rgb(95, 113, 170);
  border-radius: 20px;
  position: absolute;
  width: 350px;
  right: 70px;
  height: 420px;
  box-shadow: inset 5px 5px 5px 0 rgba(56, 75, 121, 0.4), inset -5px -5px 5px rgba(183, 190, 205, 0.4);
}
#stats{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}
.statsLeft{
  text-align: right;
}
.statsRight{
  text-align: left;
}
#head{
  top: 60px;
  left: 165px;
}
#body{
  top: 160px;
  left: 165px;
}
#legs{
  top: 260px;
  left: 165px;
}
#feet{
  top: 360px;
  left: 165px;
}
#hands{
  top: 208px;
  left: 265px;
}
#weapon{
  top: 108px;
  left: 65px;
}
#offHand{
  top: 208px;
  left: 65px;
}
#ring1{
  top: 308px;
  left: 65px;
}
#ring2{
  top: 308px;
  left: 265px;
}