#Work article, .descContainer{
  --size: min(60vh, 80vw);
}
#Work article{
  width: 100%;
  padding-top: 0px;
  overflow: hidden;
}
iframe{
  border: 0;
}
.work, .ontop{
  position: absolute;
  border-radius: 30px;
  background-clip: padding-box;
}
.work{
  background-color: #b38046;
  transition: 0.5s;
  overflow: hidden;
}
#Work .work.front{
  box-shadow: inset 0 0 15px #462d12;
  top: 10%;
  width: var(--size);
  height: var(--size);
  left: calc(50% - var(--size) / 2);
  z-index: 4
}
#Work .frontLeft, #Work .frontRight{
  top: 7%; /*calc(42vh + 50px - var(--size) / 2);*/
  width: calc(var(--size) * 0.8);
  height: calc(var(--size) * 0.8);
  z-index: 3;
}
#Work .frontLeft{
  left: calc(50% - var(--size) * 1.05);
}
#Work .frontRight{
  left: calc(50% + var(--size) * 0.25);
}
#Work .work.frontLeft, #Work .work.frontRight{
  box-shadow: inset 0 0 30px #271808;
  opacity: 0.75;
}
#Work .backLeft, #Work .backRight{
  top: 5%; /*calc(37vh + 50px - var(--size) / 2);*/
  width: calc(var(--size) * 0.65);
  height: calc(var(--size) * 0.65);
  z-index: 2;
}
#Work .backLeft{
  left: calc(50% - var(--size) * 0.75);
}
#Work .backRight{
  left: calc(50% + var(--size) * 0.1);
}
#Work .work.backLeft, #Work .work.backRight{
  box-shadow: inset 0 0 30px #1b0f02;
  opacity: 0.5;
}
#Work .back{
  top: 3%;
  width: calc(var(--size) * 0.5);
  height: calc(var(--size) * 0.5);
  left: calc(50% - var(--size) * 0.25);
  z-index: 1;
}
#Work .work.back{
  box-shadow: inset 0 0 30px black;
  opacity: 0.25;
}
.descContainer{
  position: absolute;
  /* top: calc(40vh + 70px + min(50vw, 80vh) / 2); */
  top: calc(var(--size) + 15%);
  bottom: 10px;
  width: 100%;
  left: 0%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
.frontD, .frontRightD, .backRightD, .backD, .backLeftD, .frontLeftD{
  position: absolute;
  width: 80%;
  height: 100%;
  transition: 0.5s;
}
.frontD{
  left: 10%;
  opacity: 1;
}
.frontRightD, .backRightD{
  left: 100%;
  opacity: 0;
}
.backD{
  left: 10%;
  top: 0%;
  opacity: 0;
}
.frontLeftD, .backLeftD{
  left: -100%; 
  opacity: 0;
}
h3{
  margin-top: 0px;
}
.workLeftButtonContainer, .workRightButtonContainer{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  top: 50%;
  z-index: 4;
  /* background: #d8af7f; */
  cursor: pointer;
}
.workLeftButtonContainer{
  left: 5%;
}
.workRightButtonContainer{
  right: 5%;
}
.workLeftButton, .workRightButton{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 3px -3px 1.5px 0.5px rgba(255, 255, 255, 0.75);
  animation: 1s alternate-reverse infinite ease-in-out;
}
.workLeftButtonContainer:hover .workLeftButton, .workRightButton:hover{
  box-shadow: 3px -3px 2px 1.5px rgba(255, 255, 255);
}
.workLeftButton{
  transform: rotateZ(-135deg);
  left: 18px;
  animation-name: workLeftBounce;
}
@keyframes workLeftBounce{
  0%, 50%, 100%  {left: 22px;} 25% {left: 18px;}
}
.workRightButton{
  transform: rotateZ(45deg);
  right: 20px;
  animation-name: workRightBounce;
}
@keyframes workRightBounce{
  0%, 50%, 100%  {right: 22px;} 25% {right: 18px;}
}