#gallery{
  width: 100vw;
  left: 0;
  height: 200vh;
  position: relative;
}
.gallery{
  --pathBoth: polygon( 0% 0%,100% 0%,100% 0%,100% 0.585%,100% 2.231%,100% 4.769%,100% 8.033%,100% 11.856%,100% 16.071%,100% 20.512%,100% 25.011%,100% 29.403%,100% 33.519%,100% 33.519%,99.753% 37.182%,99.084% 40.407%,98.098% 43.315%,96.9% 46.025%,95.597% 48.658%,94.294% 51.335%,93.096% 54.175%,92.11% 57.3%,91.441% 60.83%,91.194% 64.884%,91.194% 64.884%,91.441% 69.078%,92.11% 72.981%,93.096% 76.644%,94.294% 80.12%,95.597% 83.463%,96.9% 86.724%,98.098% 89.955%,99.084% 93.21%,99.753% 96.541%,100% 100%,0% 100%,0% 100%,0% 99.44%,0% 97.856%,0% 95.388%,0% 92.178%,0% 88.368%,0% 84.1%,0% 79.515%,0% 74.756%,0% 69.963%,0% 65.278%,0% 65.278%,0.233% 61.188%,0.866% 57.917%,1.8% 55.217%,2.933% 52.837%,4.166% 50.527%,5.399% 48.038%,6.532% 45.119%,7.465% 41.52%,8.098% 36.993%,8.331% 31.286%,8.331% 31.286%,8.098% 25.534%,7.465% 20.9%,6.532% 17.185%,5.399% 14.188%,4.166% 11.706%,2.933% 9.539%,1.8% 7.486%,0.866% 5.346%,0.233% 2.918%,0% 0% );
  --pathLeft: polygon( 0% 0%,100% 0%,100% 0%,100% 0.585%,100% 2.231%,100% 4.769%,100% 8.033%,100% 11.856%,100% 16.071%,100% 20.512%,100% 25.011%,100% 29.403%,100% 33.519%,100% 33.519%,100% 37.176%,100% 40.387%,100% 43.272%,100% 45.955%,100% 48.559%,100% 51.206%,100% 54.019%,100% 57.122%,100% 60.636%,100% 64.685%,100% 64.685%,100% 68.885%,100% 72.802%,100% 76.488%,100% 79.991%,100% 83.363%,100% 86.654%,100% 89.912%,100% 93.19%,100% 96.535%,100% 100%,0% 100%,0% 100%,0% 99.44%,0% 97.856%,0% 95.388%,0% 92.178%,0% 88.368%,0% 84.1%,0% 79.515%,0% 74.756%,0% 69.963%,0% 65.278%,0% 65.278%,0.233% 61.188%,0.866% 57.917%,1.8% 55.217%,2.933% 52.837%,4.166% 50.527%,5.399% 48.038%,6.532% 45.119%,7.465% 41.52%,8.098% 36.993%,8.331% 31.286%,8.331% 31.286%,8.098% 25.534%,7.465% 20.9%,6.532% 17.185%,5.399% 14.188%,4.166% 11.706%,2.933% 9.539%,1.8% 7.486%,0.866% 5.346%,0.233% 2.918%,0% 0% );
  --pathRight: polygon( 0% 0%,100% 0%,100% 0%,100% 0.585%,100% 2.231%,100% 4.769%,100% 8.033%,100% 11.856%,100% 16.071%,100% 20.512%,100% 25.011%,100% 29.403%,100% 33.519%,100% 33.519%,99.753% 37.182%,99.084% 40.407%,98.098% 43.315%,96.9% 46.025%,95.597% 48.658%,94.294% 51.335%,93.096% 54.175%,92.11% 57.3%,91.441% 60.83%,91.194% 64.884%,91.194% 64.884%,91.441% 69.078%,92.11% 72.981%,93.096% 76.644%,94.294% 80.12%,95.597% 83.463%,96.9% 86.724%,98.098% 89.955%,99.084% 93.21%,99.753% 96.541%,100% 100%,0% 100%,0% 100%,0% 99.44%,0% 97.856%,0% 95.388%,0% 92.178%,0% 88.368%,0% 84.1%,0% 79.515%,0% 74.756%,0% 69.963%,0% 65.278%,0% 65.278%,0% 61.188%,0% 57.917%,0% 55.217%,0% 52.837%,0% 50.527%,0% 48.038%,0% 45.119%,0% 41.52%,0% 36.993%,0% 31.286%,0% 31.286%,0% 25.534%,0% 20.9%,0% 17.185%,0% 14.188%,0% 11.706%,0% 9.539%,0% 7.486%,0% 5.346%,0% 2.918%,0% 0% );
  --pathNone: polygon( 0% 0%,100% 0%,100% 0%,100% 0.585%,100% 2.231%,100% 4.769%,100% 8.033%,100% 11.856%,100% 16.071%,100% 20.512%,100% 25.011%,100% 29.403%,100% 33.519%,100% 33.519%,100% 37.182%,100% 40.407%,100% 43.315%,100% 46.025%,100% 48.658%,100% 51.335%,100% 54.175%,100% 57.3%,100% 60.83%,100% 64.884%,100% 64.884%,100% 69.078%,100% 72.981%,100% 76.644%,100% 80.12%,100% 83.463%,100% 86.724%,100% 89.955%,100% 93.21%,100% 96.541%,100% 100%,0% 100%,0% 100%,0% 99.44%,0% 97.856%,0% 95.388%,0% 92.178%,0% 88.368%,0% 84.1%,0% 79.515%,0% 74.756%,0% 69.963%,0% 65.278%,0% 65.278%,0% 61.188%,0% 57.917%,0% 55.217%,0% 52.837%,0% 50.527%,0% 48.038%,0% 45.119%,0% 41.52%,0% 36.993%,0% 31.286%,0% 31.286%,0% 25.534%,0% 20.9%,0% 17.185%,0% 14.188%,0% 11.706%,0% 9.539%,0% 7.486%,0% 5.346%,0% 2.918%,0% 0% );

  position: absolute;
  width: var(--width-minus-scrollbar);
  height: 100vh;
  /* background: #5a6641; */
  animation: gallery 1s linear paused;
  z-index: 1;  
  animation-delay: calc(var(--scroll) * 1s - 0.05s);
}
@keyframes gallery {
  0% {clip-path: var(--pathNone);}
  10%, 43% {clip-path: var(--pathRight);}
  /* 55% {clip-path: var(--pathBoth);} */
  55%, 90% {clip-path: var(--pathLeft);}
  100% {clip-path: var(--pathNone);}
}
.picCon{
  position: sticky;
  perspective-origin: 50vw 30vh;
  perspective: 1700px;
  left: 0vw;
  top: 0vh;
}
 .galSpin{
  position: relative;
  transform-style: preserve-3d;
  left: 50vw;
  width: 0;
  top: 65vh;
  animation: spin linear 1s paused;
  animation-delay: calc(var(--scroll) * 1.1s + var(--index) / 10 - 0.3s);
 }
 @keyframes spin {
  20% {z-index: 0;} 20.1% {z-index: 1;}
  77% {z-index: 1;} 78%{z-index: 0;}
  from {top: 57vh; } to { top: 5vh; }
  from { transform: rotate3d(0, 1, 0, -65deg); } to { transform: rotate3d(0, 1, 0, -300deg); }
 }
.galPic, .galText{
  position: absolute;
  left: -150px;
  perspective: 1260px;
  border-radius: 10px;
  rotate: -10deg 0 0;
  transform: translateZ(-43vw) rotateY(180deg);
  height: 200px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #b9b974;
}
.galSpin:nth-child(4) .galPic{
  background-size: cover;
  background-image: url("../images/Trim1.gif");
}
.galSpin:nth-child(5) .galPic{
  background-size: cover;
  background-image: url("../images/Trim2.gif");
}
.galSpin:nth-child(6) .galPic{
  background-image: url("../images/Bull.png");
}
.galText{
  background-color: #7b6246;
  box-sizing: border-box;
  padding-top: 13px;
  z-index: -1;
  animation: popUp linear 1s paused;
  animation-delay: calc(var(--scroll) * 1.1s + var(--index) / 10 - 0.3s);
}
@keyframes popUp {
  35%, 65% {transform: translate3D(0, 0, -43vw) rotateY(180deg);} 
  40%, 60% {transform: translate3D(0, -50px, -43vw) rotateY(180deg);}
}
.galTop, .galBot{
  position: absolute;
  z-index: 1;
}
.galTop{
  left: 1vw;
  top: 29vh;
  transform-origin: left;
  animation: topSquish linear 1s paused;
  animation-delay: calc(var(--scroll) * 1s - 0.05s);
}
.galBot{
  white-space: pre-line;
  right: 2vw;
  top: 63vh;
  transform-origin: right;
  animation: botSquish linear 1s paused;
  animation-delay: calc(var(--scroll) * 1s - 0.05s);
}
@keyframes botSquish { 
  0%, 55% { right: 2vw; transform: scaleX(1);}
  10%, 43% { right: 10.2vw; transform: scaleX(0.8);}
}@keyframes topSquish { 
  43%, 100% { left: 1vw; transform: scaleX(1);}
  55%, 90% { left: 8.7vw; transform: scaleX(0.8);}
}
.gallery div{
  position: absolute;
  width: calc(var(--width-minus-scrollbar) / 2);
  height: 15vh;
  perspective: 66vh;
  animation-delay: calc(var(--scroll) * 1s - 0.05s);
}
.gallery, .gallery div div{
  background-image: url("../images/river.png");
  aspect-ratio: auto;
  background-size: auto 100vh;
}
.gallery{
  --timing1: cubic-bezier(0.68,0.26,0.83,0.67);
  --timing2: cubic-bezier(0.48,0.36,0.68,0.49);
  --timing3: cubic-bezier(0.71,0.09,0.83,0.44);
  --timing4: cubic-bezier(0.54,0.33,0.77,0.47);
  --timing5: cubic-bezier(0.01,0.01,0.47,0.71);
  --timing6: cubic-bezier(0.49,0.18,0.84,0.66);
}
.galbendcont1{
  top: 10vh;
  perspective-origin: top right;
}
.galbend1{
  background-position: 0  -10vh;
  transform-origin: top right;
  animation: galbend1 linear 1s paused, galscale1 var(--timing1) 1s paused; 
}
.galbend2 {
  top: 25vh;
  background-position: 0 -25vh;
  transform-origin: right;
  animation: galbend2 linear 1s paused;
}
.galbendcont3{
  top: 40vh;
  perspective-origin: top right;
}
.galbend3{
  background-position: 0 -40vh;
  transform-origin: bottom right;
  animation: galbend3 var(--timing2) 1s paused, galscale3 var(--timing3) 1s paused;
}
.galbendcont4, .galbendcont5, .galbendcont6{ right: 0;}
.galbendcont4{
  top: 45vh;
  perspective-origin: top left;
}
.galbend4{
  background-position: calc(var(--width-minus-scrollbar) / -2) -45vh;
  transform-origin: top left;
  animation: galbend4 linear 1s paused, galscale4 var(--timing4) 1s paused;
}
.galbend5 {
  top: 60vh;
  background-position: calc(var(--width-minus-scrollbar) / -2) -60vh;
  transform-origin: left;
  animation: galbend5 var(--timing5) 1s paused;
}
.galbendcont6{
  top: 75vh;
  perspective-origin: bottom left;
}
.galbend6{
  background-position: calc(var(--width-minus-scrollbar) / -2) -75vh;
  transform-origin: bottom left;
  animation: galbend6 linear 1s paused, galscale6 var(--timing6) 1s paused;
}
@keyframes galbend1 { 43%, 100% {transform: none;}
                      55%, 90%  {transform: rotateX(-45deg);}}
@keyframes galscale1{ 43%, 100% {scale: 100% 100%;}
                      55%, 90%  {scale: 100% 166%;}}
@keyframes galbend2 { 43%, 100% {transform: none;}
                      55%, 90%  {transform: scaleX(86.5%);}}
@keyframes galbend3 { 43%, 100% {transform: none;}
                      55%, 90%  {transform: rotateX( 45deg);}}
@keyframes galscale3{ 43%, 100% {scale: 100% 100%;}
                      55%, 90%  {scale: 100% 143%;}}
@keyframes galbend4 {  0%, 55%  {transform: none;}
                      10%, 43%  {transform: rotateX(-45deg)}}
@keyframes galscale4{  0%, 55%  {scale: 100% 100%;}
                      10%, 43%  {scale: 100% 165%;}}
@keyframes galbend5 {  0%, 55%  {transform: none;}
                      10%, 43%  {transform: scaleX(86.5%);}}
@keyframes galbend6 {  0%, 55%  {transform: none;}
                      10%, 43%  {transform: rotateX( 45deg);}}
@keyframes galscale6{  0%, 55%  {scale: 100% 100%;}
                      10%, 43%  {scale: 100% 166%;}}