@font-face {
  font-family: monster;
  src: url("./fonts/Providence Sans Regular.ttf");
}
@font-face {
  font-family: monsterBold;
  src: url("./fonts/Providence Sans Bold.otf");
}
@font-face {
  font-family: fredericka;
  src: url("./fonts/FrederickatheGreat-Regular.ttf")
}
@font-face {
  font-family: rowdy;
  src: url("./fonts/Rowdies-Light.ttf")
}
@font-face {
  font-family: flavour;
  src: url("./fonts/Flavors-Regular.ttf")
}
@font-face {
  font-family: wetPaint;
  src: url("./fonts/RubikWetPaint-Regular.ttf")
}
@font-face {
  font-family: rubikBlack;
  src: url("./fonts/Rubik-Black.ttf")
}
#home{ 
  background: black;
  height: 550vh;
}
.canLink{
  display: block;
  position: absolute;
  width: calc(max(100vw, 100vh) / 30);
  height: calc(max(100vw, 100vh) / 30);
}
#contact{ 
  position: absolute;
  top: 550vh;
  left: 0;
  margin: 0;
  /* overflow: hidden; */
  background: black;
  color: rgb(85, 221, 221);
  cursor: none;
}
.webdesignlink{
  text-decoration: underline;
  color: blue;
}