#home{ 
  background: black;
  height: 550vh;
}
.canLink{
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
}
#contact{ 
  position: absolute;
  top: 550vh;
  left: 0;
  margin: 0;
  /* overflow: hidden; */
  background: black;
  color: rgb(85, 221, 221);
  cursor: none;
}
.webdesignlink{
  text-decoration: underline;
  color: blue;
}