body{
  margin: 0;
  overflow: hidden;
}
#bg{
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
}
.dark, .light{
  width: 100%;
  height: 100%;
  background: url("../images/light monster.png");
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position-x: calc((100vw - 100vh / 9 * 16) / 2);
  aspect-ratio: 16/9;
  pointer-events: none;
}
.dark{
  background-image: url("../images/dark monster.png");
}
#drawing{
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: url("../images/paint\ brush.png"), pointer;
  /* cursor:crosshair; */
}
.drawOnMe{
  rotate: -45deg;
  color: white;
  text-shadow: 0 0 35px white, 0 0 20px white;
  position: absolute;
  top: 20vh;
  left: 20vh;
  font-size: 5vmin;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s;
}
.opacity{
  opacity: 1;
  transition: opacity 1s;
}