body{
  margin: 0;
  overflow: hidden;
}
#bg{
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
}
.dark, .light{
  width: 100%;
  height: 100%;
  background: url("../images/light monster.png");
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position-x: calc((100vw - 100vh / 9 * 16) / 2);
  aspect-ratio: 16/9;
  pointer-events: none;
}
.dark{
  background-image: url("../images/dark monster.png");
}
#drawing{
  position: absolute;
  left: 0px;
  top: 0px;
}